body{
  background-color: white !important;
}

.ui.pointing.top.fixed.menu{
  background-image: linear-gradient(
    135deg,
    rgb(139,0,0) 0%,
    rgb(255,0,0) 69%,
    rgb(240,128,128) 89%
  ) !important;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          rgb(115, 24, 24) 0%,
          rgb(174, 73, 33) 69%,
          rgb(172, 151, 32) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/
